# Firebase and API keys
.env
functions/.runtimeconfig.json

# Node.js dependencies
node_modules/

# Firebase credentials
.firebase/

/public/firebaseConfig.js

helpful_stuff

TODO.md

copy_data.py

playlist_updates.py

.firebaserc

.cache

.DS_Store

league_playlist.py

scripts/

outputs/